<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Leaderboard</title>
</head>
<body>

<table> TOP 10
    <tr>
        <th>name</th>
        <th>description</th>
        <th>age</th>
        <th>score</th>
    </tr>

    <tr th:each="leader : ${leaderboard}">
        <td th:text="${leader.getName()}">Name</td>
        <td th:text="${leader.getDescription()}">Description</td>
        <td th:text="${leader.getAge()}">Age Range</td>
        <td th:text="${leader.getScore()}">Score</td>
    </tr>
</table>

<br />

<form action="leaderboard.html" th:action="@{/results}" method="get">
    <label>
        <span>Search:</span>
        <input type="text" name="name" value="" th:value="${name}"/>
    </label>
    <button>Search by Name</button>
</form>

<table>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>age</th>
        <th>score</th>
    </tr>

    <tr th:each="player : ${filter}">
        <td th:text="${player.getName()}">Name</td>
        <td th:text="${player.getDescription()}">Description</td>
        <td th:text="${player.getAge()}">Age Range</td>
        <td th:text="${player.getScore()}">Score</td>
    </tr>
</table>

<a href="index.html" th:href="@{'/'}">Restart</a>

</body>
</html>