<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
</head>
<body>

<a href="index.html" th:href="@{/}">Whoops I made a typo...</a>
    <form action="leaderboard.html" th:action="@{'/save'}" method="post">

    <p>Welcome <span name="name" th:text="${name}">Name</span>!
        You are <span name="age" th:text="${age}"></span> years old!</p>
    <p>You described yourself as:<span name="description" th:text="${description}">Description</span>!</p>

        <!--making data persist... hopefully-->
        <input type="hidden" name="name" th:value="${name}" />
        <input type="hidden" name="age" th:value="${age}" />
        <input type="hidden" name="description" th:value="${description}"/>

    Score:
    <input name="score" type="text" /><br />
        <button>SUBMIT</button>
    </form>



</body>
</html>